/*Octodash: #0D2636*/

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #E88C0C;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', cursive;
    box-shadow: inset 0px 0px 45px 2px rgba(0,0,0,0.50);
}

h1, .h1 {
    font-size: 48px;
}

.title {
    margin: 0;
    text-align: center;
    color: #FFF;
    font-family: 'Cousine', sans-serif;
}

.image {
    margin-top: 15px;
    height: 200px;
    width: auto;
}

.row {
    text-align: center;
}

.copy-small {
    font-size: 16px;
    color: #fff;
}

#search {
    margin: 15px 0 15px 0;
}



.profile-pic {
    height: 120px;
    width: auto;
}

.panel {
    border-color: #0D2636;
}

.panel-default .panel-heading {
    background-color: #0D2636;
    color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;    
}

.footer p {
    font-weight: 500;
    text-align: center;
    padding: 10px;
    color: #0D2636;
}

/* Big tablets to 1023px (width smaller than the 1140px row */ @media only screen and (min-width: 1200px) { 
    .col-md-3 {
        padding-left: 0;
    }
    .col-md-9 {
        padding-right: 0;
    }
}

/* Small tablets to big tablets from 768 to 1023px */ @media only screen and (max-width: 1023px) { 
    .col-md-3 {
        padding: 0;
    }
    .col-md-9 {
        padding: 0;
    }
}


