/*Octodash: #0D2636*/

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #E88C0C;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif, serif;
}

h1, .h1 {
    font-size: 48px;
}

.title {
    margin: 0;
    text-align: center;
    color: #FFF;
    font-family: 'Cousine', sans-serif;
}

.image {
    margin-top: 15px;
    height: 200px;
    width: auto;
}

.row {
    padding: 0;
    margin: 0;
    text-align: center;
}

.copy-small {
    font-size: 16px;
    color: #fff;
}

#search {
    margin: 15px 0 15px 0;
}

.hide {
    opacity: 0;
}

.profile-pic {
    height: 120px;
    width: auto;
}

.profile-stats {
    border-bottom: 2px dotted #555;
    margin-bottom: 15px;
}

.box {
    border-left: 2px dotted #555;
}

.profile-box {
    color: #000;
    
}

.btn-danger {
    width: 100%;
}

.panel {
    border-color: #0D2636;
}

.panel-default .panel-heading {
    background-color: #0D2636;
    color: #fff;
}

.panel-body {
    padding: 0;
    margin: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
/* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    margin-top: 10px;
    text-align: center;
    height: 40px;
}

/* Big tablets to 1023px (width smaller than the 1140px row */ @media only screen and (min-width: 1200px) { 
    .col-md-3 {
        padding-left: 0;
    }
    .col-md-9 {
        padding-right: 0;
    }
    
    #new-user {
        opacity: 0;
    }
}

/* Small tablets to big tablets from 768 to 1023px */ @media only screen and (max-width: 1023px) {  
    .image {
        height: 120px;
        width: auto;
    }

    .col-md-3 {
        padding: 0;
    }
    .col-md-9 {
        padding: 0;
    }
    
    #repos li {
        margin: 0;
    }
}

/* Small phones to small tablets from 481 to 767px */ @media only screen and (max-width: 767px) {
    
    #new-user {
        opacity: 0;
    }
    
    #repos li {
        margin: 0;
    }
}


